# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User pro files
*.pro.user*

# Test images that are not used
data/images/**

.git/**
